.signup-section {
  background-color: #35a1ca;
}

.boxes {
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(198, 177, 198);
  overflow: hidden;
  height: 180px;
  max-height: 35vh;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
}

.grids { 
  max-width: 50%;
  margin: auto;
}

.signup-header {
  margin: 20px;
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .boxes{
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .boxes{
    height: 230px;
  }
}

@media screen and (max-width: 300px) {
  .boxes{
    height: 300px;
  }
}